In [2]:
import pandas as pd
pd.set_option('display.max_columns',10)
print("Original data:\n")
df=pd.read_excel("/Users/student/Downloads/Data cleaning and preparation(excel).xlsx")
print(df)

Original data:

    S.No  Roll    Name   Eng  Tamil  Maths  Science  Social  Total
0      1  1101    Arya  67.0   82.0   54.0     71.0    62.0    336
1      2  1102    Kavi  59.0   45.0   89.0      NaN    76.0    269
2      3  1103    Ravi  90.0   78.0   61.0     80.0    85.0    394
3      4  1104     Anu  72.0   55.0    NaN     66.0    74.0    267
4      5  1105    Siva  81.0   64.0   77.0     68.0    58.0    348
5      6  1106    Maya  93.0   53.0   65.0     72.0    80.0    363
6      7  1107    Riya  48.0   71.0   88.0      NaN    66.0    273
7      8  1108    Arun  79.0   69.0   60.0     82.0    71.0    361
8      9  1109    Nivi   NaN   90.0   74.0     67.0    59.0    290
9     10  1110    Vini  55.0   80.0   50.0     78.0    85.0    348
10    11  1111   Kiran  74.0   66.0   85.0     64.0     NaN    289
11    12  1112    Neha  88.0   52.0    NaN     70.0    90.0    300
12    13  1113   Vijay  68.0   61.0   56.0     84.0    75.0    344
13    14  1114  Preeti   NaN   67.0   58.0     61.0    73.0    259
14    15  1115    Aadi  91.0   59.0   66.0     77.0    78.0    371
15    16  1116    Lila  60.0   74.0   82.0     69.0    62.0    347
16    17  1117    Ramu  83.0    NaN   71.0     55.0    81.0    290
17    18  1118    Tina  78.0   55.0   64.0     74.0    65.0    336
18    19  1119     Sam  69.0   81.0   72.0     60.0    79.0    361
19    20  1120   Priya  53.0   76.0   63.0      NaN    67.0    259
20    21  1121     Raj  91.0   82.0   66.0     77.0    85.0    401
21    22  1122   Pooja  65.0   59.0   75.0     68.0     NaN    267
22    23  1123  Nikhil  70.0   63.0   55.0     81.0    66.0    335
23    24  1124   Meera  82.0   85.0   90.0     56.0    73.0    386
24    25  1125    Jaya  79.0    NaN   66.0     73.0    71.0    289

In [3]:
f=df['Name'].str.strip()
f.to_excel("dcap.xlsx")
print(f)

0       Arya
1       Kavi
2       Ravi
3        Anu
4       Siva
5       Maya
6       Riya
7       Arun
8       Nivi
9       Vini
10     Kiran
11      Neha
12     Vijay
13    Preeti
14      Aadi
15      Lila
16      Ramu
17      Tina
18       Sam
19     Priya
20       Raj
21     Pooja
22    Nikhil
23     Meera
24      Jaya
Name: Name, dtype: object

In [4]:
print("Replace value:")
k=df.fillna(method='Pad')
print(k)
print("\n Updated list\n")
k.to_excel("dcap.xlsx")

Replace value:
    S.No  Roll    Name   Eng  Tamil  Maths  Science  Social  Total
0      1  1101    Arya  67.0   82.0   54.0     71.0    62.0    336
1      2  1102    Kavi  59.0   45.0   89.0     71.0    76.0    269
2      3  1103    Ravi  90.0   78.0   61.0     80.0    85.0    394
3      4  1104     Anu  72.0   55.0   61.0     66.0    74.0    267
4      5  1105    Siva  81.0   64.0   77.0     68.0    58.0    348
5      6  1106    Maya  93.0   53.0   65.0     72.0    80.0    363
6      7  1107    Riya  48.0   71.0   88.0     72.0    66.0    273
7      8  1108    Arun  79.0   69.0   60.0     82.0    71.0    361
8      9  1109    Nivi  79.0   90.0   74.0     67.0    59.0    290
9     10  1110    Vini  55.0   80.0   50.0     78.0    85.0    348
10    11  1111   Kiran  74.0   66.0   85.0     64.0    85.0    289
11    12  1112    Neha  88.0   52.0   85.0     70.0    90.0    300
12    13  1113   Vijay  68.0   61.0   56.0     84.0    75.0    344
13    14  1114  Preeti  68.0   67.0   58.0     61.0    73.0    259
14    15  1115    Aadi  91.0   59.0   66.0     77.0    78.0    371
15    16  1116    Lila  60.0   74.0   82.0     69.0    62.0    347
16    17  1117    Ramu  83.0   74.0   71.0     55.0    81.0    290
17    18  1118    Tina  78.0   55.0   64.0     74.0    65.0    336
18    19  1119     Sam  69.0   81.0   72.0     60.0    79.0    361
19    20  1120   Priya  53.0   76.0   63.0     60.0    67.0    259
20    21  1121     Raj  91.0   82.0   66.0     77.0    85.0    401
21    22  1122   Pooja  65.0   59.0   75.0     68.0    85.0    267
22    23  1123  Nikhil  70.0   63.0   55.0     81.0    66.0    335
23    24  1124   Meera  82.0   85.0   90.0     56.0    73.0    386
24    25  1125    Jaya  79.0   85.0   66.0     73.0    71.0    289

 Updated list

In [5]:
print("Drop one particular column and its values:")
k.drop(['Social'],axis=1,inplace=True)
print(k)
print("\n Updated list:")
k.to_excel("Data cleaning and preparation(excel).xlsx")

Drop one particular column and its values:
    S.No  Roll    Name   Eng  Tamil  Maths  Science  Total
0      1  1101    Arya  67.0   82.0   54.0     71.0    336
1      2  1102    Kavi  59.0   45.0   89.0     71.0    269
2      3  1103    Ravi  90.0   78.0   61.0     80.0    394
3      4  1104     Anu  72.0   55.0   61.0     66.0    267
4      5  1105    Siva  81.0   64.0   77.0     68.0    348
5      6  1106    Maya  93.0   53.0   65.0     72.0    363
6      7  1107    Riya  48.0   71.0   88.0     72.0    273
7      8  1108    Arun  79.0   69.0   60.0     82.0    361
8      9  1109    Nivi  79.0   90.0   74.0     67.0    290
9     10  1110    Vini  55.0   80.0   50.0     78.0    348
10    11  1111   Kiran  74.0   66.0   85.0     64.0    289
11    12  1112    Neha  88.0   52.0   85.0     70.0    300
12    13  1113   Vijay  68.0   61.0   56.0     84.0    344
13    14  1114  Preeti  68.0   67.0   58.0     61.0    259
14    15  1115    Aadi  91.0   59.0   66.0     77.0    371
15    16  1116    Lila  60.0   74.0   82.0     69.0    347
16    17  1117    Ramu  83.0   74.0   71.0     55.0    290
17    18  1118    Tina  78.0   55.0   64.0     74.0    336
18    19  1119     Sam  69.0   81.0   72.0     60.0    361
19    20  1120   Priya  53.0   76.0   63.0     60.0    259
20    21  1121     Raj  91.0   82.0   66.0     77.0    401
21    22  1122   Pooja  65.0   59.0   75.0     68.0    267
22    23  1123  Nikhil  70.0   63.0   55.0     81.0    335
23    24  1124   Meera  82.0   85.0   90.0     56.0    386
24    25  1125    Jaya  79.0   85.0   66.0     73.0    289

 Updated list:

In [6]:
print("Drop NaNrows:")
df=pd.read_excel("/Users/student/Downloads/Data cleaning and preparation(excel).xlsx")
print(df)
x=df.dropna()
print(x)
print("\nUpdated list:")
x.to_excel("Data cleaning and preparation(excel).xlsx")

Drop NaNrows:
    S.No  Roll    Name   Eng  Tamil  Maths  Science  Social  Total
0      1  1101    Arya  67.0   82.0   54.0     71.0    62.0    336
1      2  1102    Kavi  59.0   45.0   89.0      NaN    76.0    269
2      3  1103    Ravi  90.0   78.0   61.0     80.0    85.0    394
3      4  1104     Anu  72.0   55.0    NaN     66.0    74.0    267
4      5  1105    Siva  81.0   64.0   77.0     68.0    58.0    348
5      6  1106    Maya  93.0   53.0   65.0     72.0    80.0    363
6      7  1107    Riya  48.0   71.0   88.0      NaN    66.0    273
7      8  1108    Arun  79.0   69.0   60.0     82.0    71.0    361
8      9  1109    Nivi   NaN   90.0   74.0     67.0    59.0    290
9     10  1110    Vini  55.0   80.0   50.0     78.0    85.0    348
10    11  1111   Kiran  74.0   66.0   85.0     64.0     NaN    289
11    12  1112    Neha  88.0   52.0    NaN     70.0    90.0    300
12    13  1113   Vijay  68.0   61.0   56.0     84.0    75.0    344
13    14  1114  Preeti   NaN   67.0   58.0     61.0    73.0    259
14    15  1115    Aadi  91.0   59.0   66.0     77.0    78.0    371
15    16  1116    Lila  60.0   74.0   82.0     69.0    62.0    347
16    17  1117    Ramu  83.0    NaN   71.0     55.0    81.0    290
17    18  1118    Tina  78.0   55.0   64.0     74.0    65.0    336
18    19  1119     Sam  69.0   81.0   72.0     60.0    79.0    361
19    20  1120   Priya  53.0   76.0   63.0      NaN    67.0    259
20    21  1121     Raj  91.0   82.0   66.0     77.0    85.0    401
21    22  1122   Pooja  65.0   59.0   75.0     68.0     NaN    267
22    23  1123  Nikhil  70.0   63.0   55.0     81.0    66.0    335
23    24  1124   Meera  82.0   85.0   90.0     56.0    73.0    386
24    25  1125    Jaya  79.0    NaN   66.0     73.0    71.0    289
    S.No  Roll    Name   Eng  Tamil  Maths  Science  Social  Total
0      1  1101    Arya  67.0   82.0   54.0     71.0    62.0    336
2      3  1103    Ravi  90.0   78.0   61.0     80.0    85.0    394
4      5  1105    Siva  81.0   64.0   77.0     68.0    58.0    348
5      6  1106    Maya  93.0   53.0   65.0     72.0    80.0    363
7      8  1108    Arun  79.0   69.0   60.0     82.0    71.0    361
9     10  1110    Vini  55.0   80.0   50.0     78.0    85.0    348
12    13  1113   Vijay  68.0   61.0   56.0     84.0    75.0    344
14    15  1115    Aadi  91.0   59.0   66.0     77.0    78.0    371
15    16  1116    Lila  60.0   74.0   82.0     69.0    62.0    347
17    18  1118    Tina  78.0   55.0   64.0     74.0    65.0    336
18    19  1119     Sam  69.0   81.0   72.0     60.0    79.0    361
20    21  1121     Raj  91.0   82.0   66.0     77.0    85.0    401
22    23  1123  Nikhil  70.0   63.0   55.0     81.0    66.0    335
23    24  1124   Meera  82.0   85.0   90.0     56.0    73.0    386

Updated list:

In [11]:
n=pd.read_excel("/Users/student/Downloads/Data cleaning and preparation(excel)dcap.xlsx")
print("Original data:\n")
print(n)
y=n.replace({89:88})
print("\nReplaced dataset:\n")
print(y)
print("\nUpdated dataset:\n")
y.to_excel("/Users/student/Downloads/Data cleaning and preparation(excel).xlsx")

Original data:

    Unnamed: 0  S.No  Roll    Name  Eng  Tamil  Maths  Science  Social  Total
0            0     1  1101    Arya   67     82     54       71      62    336
1            1     2  1102    Kavi   59     45     89       71      76    269
2            2     3  1103    Ravi   90     78     61       80      85    394
3            3     4  1104     Anu   72     55     61       66      74    267
4            4     5  1105    Siva   81     64     77       68      58    348
5            5     6  1106    Maya   93     53     65       72      80    363
6            6     7  1107    Riya   48     71     88       72      66    273
7            7     8  1108    Arun   79     69     60       82      71    361
8            8     9  1109    Nivi   79     90     74       67      59    290
9            9    10  1110    Vini   55     80     50       78      85    348
10          10    11  1111   Kiran   74     66     85       64      85    289
11          11    12  1112    Neha   88     52     85       70      90    300
12          12    13  1113   Vijay   68     61     56       84      75    344
13          13    14  1114  Preeti   68     67     58       61      73    259
14          14    15  1115    Aadi   91     59     66       77      78    371
15          15    16  1116    Lila   60     74     82       69      62    347
16          16    17  1117    Ramu   83     74     71       55      81    290
17          17    18  1118    Tina   78     55     64       74      65    336
18          18    19  1119     Sam   69     81     72       60      79    361
19          19    20  1120   Priya   53     76     63       60      67    259
20          20    21  1121     Raj   91     82     66       77      85    401
21          21    22  1122   Pooja   65     59     75       68      85    267
22          22    23  1123  Nikhil   70     63     55       81      66    335
23          23    24  1124   Meera   82     85     90       56      73    386
24          24    25  1125    Jaya   79     85     66       73      71    289

Replaced dataset:

    Unnamed: 0  S.No  Roll    Name  Eng  Tamil  Maths  Science  Social  Total
0            0     1  1101    Arya   67     82     54       71      62    336
1            1     2  1102    Kavi   59     45     88       71      76    269
2            2     3  1103    Ravi   90     78     61       80      85    394
3            3     4  1104     Anu   72     55     61       66      74    267
4            4     5  1105    Siva   81     64     77       68      58    348
5            5     6  1106    Maya   93     53     65       72      80    363
6            6     7  1107    Riya   48     71     88       72      66    273
7            7     8  1108    Arun   79     69     60       82      71    361
8            8     9  1109    Nivi   79     90     74       67      59    290
9            9    10  1110    Vini   55     80     50       78      85    348
10          10    11  1111   Kiran   74     66     85       64      85    289
11          11    12  1112    Neha   88     52     85       70      90    300
12          12    13  1113   Vijay   68     61     56       84      75    344
13          13    14  1114  Preeti   68     67     58       61      73    259
14          14    15  1115    Aadi   91     59     66       77      78    371
15          15    16  1116    Lila   60     74     82       69      62    347
16          16    17  1117    Ramu   83     74     71       55      81    290
17          17    18  1118    Tina   78     55     64       74      65    336
18          18    19  1119     Sam   69     81     72       60      79    361
19          19    20  1120   Priya   53     76     63       60      67    259
20          20    21  1121     Raj   91     82     66       77      85    401
21          21    22  1122   Pooja   65     59     75       68      85    267
22          22    23  1123  Nikhil   70     63     55       81      66    335
23          23    24  1124   Meera   82     85     90       56      73    386
24          24    25  1125    Jaya   79     85     66       73      71    289

Updated dataset:

In [9]:
df=pd.read_excel("/Users/student/Downloads/Data cleaning and preparation(excel)dcap.xlsx")
print(df)
print("Extract usng isin() function:")
new=df['Eng'].isin([89])
print(df[new])

    Unnamed: 0  S.No  Roll    Name  Eng  Tamil  Maths  Science  Social  Total
0            0     1  1101    Arya   67     82     54       71      62    336
1            1     2  1102    Kavi   59     45     89       71      76    269
2            2     3  1103    Ravi   90     78     61       80      85    394
3            3     4  1104     Anu   72     55     61       66      74    267
4            4     5  1105    Siva   81     64     77       68      58    348
5            5     6  1106    Maya   93     53     65       72      80    363
6            6     7  1107    Riya   48     71     88       72      66    273
7            7     8  1108    Arun   79     69     60       82      71    361
8            8     9  1109    Nivi   79     90     74       67      59    290
9            9    10  1110    Vini   55     80     50       78      85    348
10          10    11  1111   Kiran   74     66     85       64      85    289
11          11    12  1112    Neha   88     52     85       70      90    300
12          12    13  1113   Vijay   68     61     56       84      75    344
13          13    14  1114  Preeti   68     67     58       61      73    259
14          14    15  1115    Aadi   91     59     66       77      78    371
15          15    16  1116    Lila   60     74     82       69      62    347
16          16    17  1117    Ramu   83     74     71       55      81    290
17          17    18  1118    Tina   78     55     64       74      65    336
18          18    19  1119     Sam   69     81     72       60      79    361
19          19    20  1120   Priya   53     76     63       60      67    259
20          20    21  1121     Raj   91     82     66       77      85    401
21          21    22  1122   Pooja   65     59     75       68      85    267
22          22    23  1123  Nikhil   70     63     55       81      66    335
23          23    24  1124   Meera   82     85     90       56      73    386
24          24    25  1125    Jaya   79     85     66       73      71    289
Extract usng isin() function:
Empty DataFrame
Columns: [Unnamed: 0, S.No, Roll, Name, Eng, Tamil, Maths, Science, Social, Total]
Index: []