In [10]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','b','d','f'],columns=['One','Two','Three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original dataframe with NaN\n",df)
print("\nDropped Dataframe\n",df.dropna())

Original dataframe with NaN
         One       Two     Three
a  1.863351 -0.503187 -0.536067
b  1.524393  1.080107 -0.724128
c       NaN       NaN       NaN
d  1.480491 -1.224310  0.013405
e       NaN       NaN       NaN
f  1.200131 -0.730482 -0.899581

Dropped Dataframe
         One       Two     Three
a  1.863351 -0.503187 -0.536067
b  1.524393  1.080107 -0.724128
d  1.480491 -1.224310  0.013405
f  1.200131 -0.730482 -0.899581

In [9]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','b','d','f'],columns=['One','Two','Three'])
df=df.reindex(['a','b','c'])
print("Original dataframe with NaN\n",df)
print("\nNaN replaced with '0'")
print(df.fillna(0))

Original dataframe with NaN
         One       Two     Three
a -0.280443 -0.493224  0.555750
b  0.862043 -0.646838 -0.549033
c       NaN       NaN       NaN

NaN replaced with '0'
        One       Two     Three
a -0.280443 -0.493224  0.555750
b  0.862043 -0.646838 -0.549033
c  0.000000  0.000000  0.000000

In [8]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','b','d','f'],columns=['One','Two','Three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original dataframe with NaN\n",df)
print("\nNaN with True fill:")
print(df['One'].isnull())

Original dataframe with NaN
         One       Two     Three
a  0.431616 -0.921785 -1.680482
b  1.141523  0.469296  0.603736
c       NaN       NaN       NaN
d  1.622067 -0.372393  1.506455
e       NaN       NaN       NaN
f  0.505259  0.597655 -0.457333

NaN with True fill:
a    False
b    False
c     True
d    False
e     True
f    False
Name: One, dtype: bool

In [11]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','b','d','f'],columns=['One','Two','Three'])
df=df.reindex(['a','b','c'])
print("Original dataframe with NaN\n",df)
print("\nNaN filled with background values")
print(df.fillna(method='bfill'))

Original dataframe with NaN
         One       Two     Three
a  0.332739  0.483405 -1.006106
b  0.371750 -0.338197  0.518739
c       NaN       NaN       NaN

NaN filled with background values
        One       Two     Three
a  0.332739  0.483405 -1.006106
b  0.371750 -0.338197  0.518739
c       NaN       NaN       NaN

In [12]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','b','d','f'],columns=['One','Two','Three'])
df=df.reindex(['a','b','c'])
print("Original dataframe with NaN\n",df)
print("\nNaN filled with forground values")
print(df.fillna(method='ffill'))

Original dataframe with NaN
         One       Two     Three
a -1.195535  1.209702 -0.726761
b  0.675724  0.060668  0.366007
c       NaN       NaN       NaN

NaN filled with forground values
        One       Two     Three
a -1.195535  1.209702 -0.726761
b  0.675724  0.060668  0.366007
c  0.675724  0.060668  0.366007

In [15]:
df=pd.DataFrame({'One':[10,20,80,40,50],'Two':[60,70,80,0,10]})
print("Original dataframe\n",df)
print("Print dataframe with replaced values")
print(df.replace({10:5,80:30}))

Original dataframe
    One  Two
0   10   60
1   20   70
2   80   80
3   40    0
4   50   10
Print dataframe with replaced values
   One  Two
0    5   60
1   20   70
2   30   30
3   40    0
4   50    5