In [6]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':['Abi','Babu','Charles','Darwin','Abi','Charles','Darwin'],
                'B':['one','two','three','one','two','three','one'],'C':np.random.randint(7,size=7),
            'D':np.random.randint(7,size=7)})
print("Original DataFrame\n",df)

Original DataFrame
          A      B  C  D
0      Abi    one  3  5
1     Babu    two  6  3
2  Charles  three  1  3
3   Darwin    one  1  2
4      Abi    two  0  0
5  Charles  three  1  1
6   Darwin    one  6  5

In [8]:
df1=df.groupby(['A'],as_index=False)['C'].sum()
print("Original Dataframe\n",df)
print("Ingrouped Dataframewith one columnsum\n",df1)

Original Dataframe
          A      B  C  D
0      Abi    one  3  5
1     Babu    two  6  3
2  Charles  three  1  3
3   Darwin    one  1  2
4      Abi    two  0  0
5  Charles  three  1  1
6   Darwin    one  6  5
Ingrouped Dataframewith one columnsum
          A  C
0      Abi  3
1     Babu  6
2  Charles  2
3   Darwin  7

In [13]:
df2=df.groupby(['A','B'],as_index=False)['C'].sum()
print("Original Dataframe\n",df)
print("Ingrouped Dataframe with multiple columnsum\n",df2)

Original Dataframe
          A      B  C  D
0      Abi    one  3  5
1     Babu    two  6  3
2  Charles  three  1  3
3   Darwin    one  1  2
4      Abi    two  0  0
5  Charles  three  1  1
6   Darwin    one  6  5
Ingrouped Dataframe with multiple columnsum
          A      B  C
0      Abi    one  3
1      Abi    two  0
2     Babu    two  6
3  Charles  three  2
4   Darwin    one  7

In [15]:
df3=df.groupby(['A','B'],as_index=False)[['C','D']].sum()
print("Original Dataframe\n",df)
print("Ingrouped Dataframe with multiple columnsum\n",df3)

Original Dataframe
          A      B  C  D
0      Abi    one  3  5
1     Babu    two  6  3
2  Charles  three  1  3
3   Darwin    one  1  2
4      Abi    two  0  0
5  Charles  three  1  1
6   Darwin    one  6  5
Ingrouped Dataframe with multiple columnsum
          A      B  C  D
0      Abi    one  3  5
1      Abi    two  0  0
2     Babu    two  6  3
3  Charles  three  2  4
4   Darwin    one  7  7

In [16]:
import pandas as pd
df4=pd.DataFrame({'Category':['A','B','C','A','B','C'],'Sales':[100,200,150,150,130,200],
                 'Profit':[10,15,20,25,20,15]})
print(df4)
df5=df4.groupby('Category').agg({'Sales':['sum','mean'],'Profit':['sum','max']})

  Category  Sales  Profit
0        A    100      10
1        B    200      15
2        C    150      20
3        A    150      25
4        B    130      20
5        C    200      15