In [4]:
import numpy as np
import pandas as pd
info=pd.DataFrame([[3,9]]*4,columns=['S','R'])
print("\nActual Dataframe:\n",info)
print("\nSq.Root:\n",info.apply(np.sqrt))
print("\nSumcolumn:\n",info.apply(np.sum,axis=0))
print("\nSumrow:\n",info.apply(np.sum,axis=1))

Actual Dataframe:
    S  R
0  3  9
1  3  9
2  3  9
3  3  9

Sq.Root:
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

Sumcolumn:
 S    12
R    36
dtype: int64

Sumrow:
 0    12
1    12
2    12
3    12
dtype: int64

In [2]:
import numpy as np
import pandas as pd
information=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]],columns=['X','Y','Z'])
print(information)
print(information.agg(['min','max']))

   X  Y  Z
0  2  4  6
1  1  3  5
2  5  8  7
     X  Y  Z
min  1  3  5
max  5  8  7

In [6]:
import pandas as pd
import numpy as np
d2=pd.DataFrame([['Sai',88],["Poo",70]],columns=['EmpName','ID'])
print(d2)
d2['Age']=[20,18]
print("\n Listnew:\n",d2)
d2['Sex']=['Male','Male']
print("\n Newer list:\n",d2)

  EmpName  ID
0     Sai  88
1     Poo  70

 Listnew:
   EmpName  ID  Age
0     Sai  88   20
1     Poo  70   18

 Newer list:
   EmpName  ID  Age   Sex
0     Sai  88   20  Male
1     Poo  70   18  Male

In [8]:
import pandas as pd
import numpy as np
e1=pd.DataFrame([['Sai',88],['Poo',70]],columns=['Name','ID'])
print(e1)
e2=e1.assign(Age=[20,18])
print(e2)

  Name  ID
0  Sai  88
1  Poo  70
  Name  ID  Age
0  Sai  88   20
1  Poo  70   18

In [11]:
import pandas as pd
info1=pd.DataFrame(np.random.randn(5, 2),index=[3,2,0,4,1],columns=['Column2','Column3'])
print(info1)
info2=info1.sort_index()
print(info2)
info3=info1.sort_values(by='Column3')
print(info3)

    Column2   Column3
3 -0.521900  0.179035
2  0.472038 -1.014406
0  0.855210 -1.419551
4  0.597573 -0.203698
1  1.412507  1.526226
    Column2   Column3
0  0.855210 -1.419551
1  1.412507  1.526226
2  0.472038 -1.014406
3 -0.521900  0.179035
4  0.597573 -0.203698
    Column2   Column3
0  0.855210 -1.419551
2  0.472038 -1.014406
4  0.597573 -0.203698
3 -0.521900  0.179035
1  1.412507  1.526226

In [13]:
import pandas as pd
import numpy as np
L=pd.DataFrame({'ID':[1,2,3,4],'Name':['Sai','Poo','Saba','Yuvi'],'Sub':['Sub1','Sub2','Sub4','Sub3']})
R=pd.DataFrame({'ID':[1,2,3,4],'Name':['Sanjay','Saran','Som','Ruba'],'Sub':['Sub2','Sub4','Sub3','Sub5']})
print(L)
print(R)
print(pd.merge(L,R,on='Name'))

   ID  Name   Sub
0   1   Sai  Sub1
1   2   Poo  Sub2
2   3  Saba  Sub4
3   4  Yuvi  Sub3
   ID    Name   Sub
0   1  Sanjay  Sub2
1   2   Saran  Sub4
2   3     Som  Sub3
3   4    Ruba  Sub5
Empty DataFrame
Columns: [ID_x, Name, Sub_x, ID_y, Sub_y]
Index: []