In [1]:
#Syntax
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [5]:
#Creation
import pandas as pd
df=pd.DataFrame()
name=pd.Series(['Uma','Siva','Sindhu','Ravi'])
id=([10,20,30,40])
frame={'Name':name,'Id':id}
result=pd.DataFrame(frame)
print("\n Series to Data frame\n")
print(result)

 Series to Data frame

     Name  Id
0     Uma  10
1    Siva  20
2  Sindhu  30
3    Ravi  40

In [9]:
#Extraction of column
import pandas as pd
df=pd.DataFrame()
name=pd.Series(['Uma','Siva','Sindhu','Ravi'])
id=([10,20,30,40])
print("\n Extracting One column\n")
print(result['Name'])

 Extracting One column

0       Uma
1      Siva
2    Sindhu
3      Ravi
Name: Name, dtype: object

In [12]:
#Insertion
import pandas as pd
df=pd.DataFrame()
name=pd.Series(['Uma','Siva','Sindhu','Ravi'])
id=([10,20,30,40])
frame={'Name':name,'Id':id}
result=pd.DataFrame(frame)
result['Age']=pd.Series([20,25,30,50])
print(result)

     Name  Id  Age
0     Uma  10   20
1    Siva  20   25
2  Sindhu  30   30
3    Ravi  40   50

In [15]:
#Deletion
import pandas as pd
df=pd.DataFrame()
name=pd.Series(['Uma','Siva','Sindhu','Ravi'])
id=([10,20,30,40])
frame={'Name':name,'Id':id}
result=pd.DataFrame(frame)
result['Age']=pd.Series([20,25,30,50])
del result['Age']
print(result)

     Name  Id
0     Uma  10
1    Siva  20
2  Sindhu  30
3    Ravi  40

In [18]:
#Extraction of row
import pandas as pd
df=pd.DataFrame()
name=pd.Series(['Uma','Siva','Sindhu','Ravi'])
id=([10,20,30,40])
frame={'Name':name,'Id':id}
result=pd.DataFrame(frame)
result['Age']=pd.Series([20,25,30,50])
del result['Age']
print("\nExtracting the second row:\n")
print(result.loc[1])

Extracting the second row:

Name    Siva
Id        20
Name: 1, dtype: object

In [19]:
#Slicing
import pandas as pd
df=pd.DataFrame()
name=pd.Series(['Uma','Siva','Sindhu','Ravi'])
id=([10,20,30,40])
frame={'Name':name,'Id':id}
result=pd.DataFrame(frame)
result['Age']=pd.Series([20,25,30,50])
del result['Age']
print("Slice rows:\n",result[1:3])

Slice rows:
      Name  Id
1    Siva  20
2  Sindhu  30

In [22]:
#Concatenation
b=pd.DataFrame([['Johan',20],['Jinu',19]],columns=['Name','Id'])
print("\nAdding new row values:\n",pd.concat([result,b]))

Adding new row values:
      Name  Id
0     Uma  10
1    Siva  20
2  Sindhu  30
3    Ravi  40
0   Johan  20
1    Jinu  19

In [23]:
import pandas as pd
df=pd.DataFrame()
name=pd.Series(['Uma','Siva','Sindhu','Ravi'])
id=([10,20,30,40])
frame={'Name':name,'Id':id}
result=pd.DataFrame(frame)
result['Age']=pd.Series([20,25,30,50])
del result['Age']
print(result.drop(2))

   Name  Id
0   Uma  10
1  Siva  20
3  Ravi  40