In [3]:
import pandas as pd
import numpy as np
from datetime import datetime
dates = [datetime(2011, 1, 2),
datetime(2011, 1, 5),
datetime(2011, 1, 7),
datetime(2011, 1, 8),
datetime(2011, 1, 10),
datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
print("Date Index ",ts)

Date Index  2011-01-02   -0.673099
2011-01-05    0.296730
2011-01-07   -1.259734
2011-01-08   -1.318797
2011-01-10   -0.387473
2011-01-12    0.228295
dtype: float64

In [4]:
print("Date Index alone from the series: ",ts.index)

Date Index alone from the series:  DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [5]:
stamp=ts.index[2]
print("Second index:", stamp)

Second index: 2011-01-07 00:00:00

In [6]:
longer_ts=pd.Series(np.random.randn(1000),
index=pd.date_range("2000-01-01",periods=1000))
print("Daterange up to 1000 days:",longer_ts)

Daterange up to 1000 days: 2000-01-01    0.354518
2000-01-02    1.683318
2000-01-03    0.304250
2000-01-04   -1.841245
2000-01-05   -0.233532
                ...
2002-09-22    0.154435
2002-09-23   -1.457716
2002-09-24   -0.320503
2002-09-25   -0.571007
2002-09-26    0.243523
Freq: D, Length: 1000, dtype: float64

In [7]:
print("Date range-2001 year:", longer_ts["2001"])

Date range-2001 year: 2001-01-01   -0.810513
2001-01-02   -0.972780
2001-01-03    0.717666
2001-01-04    0.152269
2001-01-05   -1.159277
                ...
2001-12-27    1.471499
2001-12-28    0.305649
2001-12-29    1.357885
2001-12-30   -0.178635
2001-12-31   -1.133751
Freq: D, Length: 365, dtype: float64

In [8]:
print("Date range-05 month 2001 year:", longer_ts["2001-05"])

Date range-05 month 2001 year: 2001-05-01   -1.435715
2001-05-02   -0.155184
2001-05-03    0.897203
2001-05-04   -0.747103
2001-05-05    1.760310
2001-05-06   -1.827622
2001-05-07    0.657439
2001-05-08   -1.712368
2001-05-09   -0.211889
2001-05-10   -0.490430
2001-05-11   -0.927273
2001-05-12   -1.144967
2001-05-13    1.217659
2001-05-14    1.049053
2001-05-15    1.518733
2001-05-16    0.622395
2001-05-17    1.035987
2001-05-18    0.833834
2001-05-19    0.210398
2001-05-20   -0.072088
2001-05-21   -0.357868
2001-05-22   -1.424858
2001-05-23   -0.608839
2001-05-24   -0.336409
2001-05-25   -0.070819
2001-05-26    0.231023
2001-05-27    0.449381
2001-05-28    1.229231
2001-05-29    1.787640
2001-05-30   -1.180434
2001-05-31   -0.939028
Freq: D, dtype: float64

In [9]:
print("Date range-first few dates in 2000 year:",longer_ts["2000"].head())

Date range-first few dates in 2000 year: 2000-01-01    0.354518
2000-01-02    1.683318
2000-01-03    0.304250
2000-01-04   -1.841245
2000-01-05   -0.233532
Freq: D, dtype: float64

In [10]:
print("Date range-first 15 dates in 02 month 2001 year:",longer_ts["2000-02"].head(15))

Date range-first 15 dates in 02 month 2001 year: 2000-02-01    1.054225
2000-02-02   -0.448796
2000-02-03   -0.041331
2000-02-04    0.131227
2000-02-05    0.820193
2000-02-06    0.594811
2000-02-07   -0.797757
2000-02-08    0.499844
2000-02-09   -0.698919
2000-02-10   -0.772905
2000-02-11    0.349775
2000-02-12    0.012320
2000-02-13   -0.809411
2000-02-14    0.520844
2000-02-15   -0.852593
Freq: D, dtype: float64

In [11]:
print("Date range-rom 26-9-2001:",longer_ts[datetime(2000,9,26):])

Date range-rom 26-9-2001: 2000-09-26    0.359383
2000-09-27    1.720108
2000-09-28   -1.036272
2000-09-29   -0.600160
2000-09-30    2.165260
                ...
2002-09-22    0.154435
2002-09-23   -1.457716
2002-09-24   -0.320503
2002-09-25   -0.571007
2002-09-26    0.243523
Freq: D, Length: 731, dtype: float64

In [13]:
print("Date range from 26-9-2001 to 25-9-2002:",longer_ts[datetime(2001,9,26):datetime(2002,9,25)])

Date range from 26-9-2001 to 25-9-2002: 2001-09-26   -0.911904
2001-09-27   -1.427422
2001-09-28   -0.943623
2001-09-29    1.229645
2001-09-30    0.746024
                ...
2002-09-21    0.109481
2002-09-22    0.154435
2002-09-23   -1.457716
2002-09-24   -0.320503
2002-09-25   -0.571007
Freq: D, Length: 365, dtype: float64